@media screen and (max-width:600px) {

    header,
    nav ul {
        flex-direction: column;
        text-align: center;
    }
}

.container {

    display: flex;
    background-color: white;
    position:relative;
    margin: auto 0;
    top: 0;
    width: 99.8%;
    z-index: 9999;
    height: 80px;

}

.item_logo {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
   

}

.logo {
    width: 130px;
    height: 100px;
    position:absolute;top:0px;


}

.item_home {

    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 1000px;
}

.home {
    width: 200px;
    height: 80px;
    position:absolute;top:0px; right: 30px;

}
a {
    .link {color: white; } 
}
