

.container_footer {

    display: flex;
    background-color:white;
    position: relative;
    width: 99%;
     height: 80px;
     margin-bottom: 100%;


}

.contact {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}

.droits {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reseausocial {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contactfooter {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p{
    color: black;
}
